*{
	margin:0;
	padding:0;
}

.App {
  position: relative;
  font-family: sans-serif;
text-align: center;
	display:flex;
	justify-content: center;
	align-items: center;
}
.App h3{
position: absolute;
top:45%;
color:white;
background-color:rgb(0,0,0,0.7);
padding:10px;
z-index:2;
}
body{
	overflow-x: hidden;
	overflow-y:hidden;
	background-size: cover;
	background-position: cover;
	background-repeat: no-repeat;
}
.container{
	height:500px;
	width:600px;
}
button {

margin-top:20px;
margin-left:20px;
padding:5px;
border-style:none;
background-color: transparent;
outline:none;
color:white;
font-size:40px;
height:30px;
}

button:hover {
color:rgb(0,0,0,0.8);
cursor:pointer;
}
.remove{
	position:absolute;
	top:45%;
	left:-15%;
}
.add{
	position:absolute;
	top:45%;
	right:-15%;

}
@media screen and (max-width:700px){
	body{
		overflow-y: visible;
	}
.remove{
	top:95%;
	left:25%;
	margin-bottom:10px;

}
.add{
	top:95%;
	right:35%;
}


}
.flip img{
	transform:perspective(1500px) rotateY(180deg);
	
}
 .extraFlip {
	transform:scaleX(-1);
}

img{

filter: flip drop-shadow(8px 8px 10px gray);
border-radius: 10px;
height:90vh;
width:100%;
transform: perspective(1000px) ;
will-change: filter, transform;
transition: cubic-bezier(0.1, 0.1, 0.5, 1.5) 2s;
cursor:pointer;
}

/*@keyframes flip {
	0% {
		transform:rotateY(0deg)
	}
	100% {
		transform:rotateY(180deg)
	}
}*/

/* BASE RULES */

html, body {
	
	width: 100%;
}


div {
	text-align: center;
}
.main{
	padding:30px;
}

svg {
	display: inline-block;
	width: 250px;
	margin: 3% auto;
	padding: 0px 100px;
}

/* SVG RULES */

.hand, 
.hand-double, 
.hand-flick, 
.hand-hold, 
.hand-rock, 
.hand-tap, 
.hand-x, 
.hand-y {
	fill: #fff;
	stroke: #000;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.arrow-down, 
.arrow-head, 
.arrow-left, 
.arrow-right, 
.arrow-up, 
.arrow-up-1, 
.arrow-up-2, 
.arrow-up-3,   
.hold-1,
.hold-2, 
.line-horizontal, 
.line-rotate, 
.line-vertical, 
.notes, 
.tap-1, 
.tap-2 {
	fill: transparent;
	stroke: #000;
	stroke-width: 3px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.arrow-up-2, 
.hold-1, 
.tap-1 {
	opacity: .5;
}

.arrow-up-1, 
.hold-2, 
.tap-2 {
	opacity: .25;
}

.arrow-up-3, 
.swipe-horizontal, 
.swipe-rotate, 
.swipe-vertical {
	opacity: .75;
}

.hold-1, 
.hold-2, 
.notes {
	opacity: 0;
}

/* ANIMATION KEYFRAMES */



@keyframes tap {
	0% {
		transform: rotateX(0deg);
	}
	10% {
		transform: rotateX(12.5deg);
	}
	25% {
		transform: rotateX(25deg);
	}
}

@keyframes tap-circle {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	75% {
		transform: scale(1.05);
		opacity: .6;
	}
	80% {
		transform: scale(1);
		opacity: .5;
	}
}


/* SVG ANIMATION */

.wrapper * {

  height:60px;
  width:60px;
  position:absolute;
  top:0;
  right:0;
transform-origin: 50% 50%;
z-index:10;
}

.hand {
	transform-origin: 25% 50%;
}

.hand-tap {
	animation: tap 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

.hand-double {
	animation: tap-double 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

.tap-1,
.tap-2 {
	animation: tap-circle 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

.hand-hold {
	animation: hold 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

.hold-1, .hold-2 {
	animation: fade 1.25s ease-in backwards;
	animation-iteration-count:infinite;
}

.tap-2 {
	animation-delay: 0.2s;
}

.hand-x {
	animation: swipe-x 1.25s ease-in-out backwards;
	animation-iteration-count:infinite;
}

.hand-y {
	animation: swipe-y 1.25s ease-in-out backwards;
	animation-iteration-count:infinite;
}
 
.hand-flick {
	animation: flick 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

.arrows {
	opacity: 0;
	animation: flick-fade 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}

.hand, 
.swipe-rotate {
	animation: spin 1.25s ease-in-out backwards;
	animation-iteration-count:infinite;
}

.hand-rock {
	animation: rock-on 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}
.main{
	position: absolute;
	left:50%;
	top:0%;
transform:translate(-50%,0%);
}
@media screen and (max-width:700px) {
.main {
	position:relative;
}
}

.notes {
	animation: note 1.25s ease-out backwards;
	animation-iteration-count:infinite;
}